# Verification

We have verified programs in various ways. Some of them are found in [`test`](https://github.com/akuhara/SEIS_FILO/tree/master/test) directory. 